<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask_Chat_App</title>

    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
        integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='chatSocket.js')}}"></script>
    <script type="text/javascript">chatSocket();</script>
</head>

<body>
    <div style='width:100%; height:100vh;'>
        <div style='width:50%; height:50%;'>
            <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
            <div style='width:25%; height:25%;' class="message_holder"></div>
        </div>

        <div style='width:50%; height:50%;'>
            <form action="" method="POST">
                <input type="text" class="username" placeholder="User Name" />
                <input type="text" class="message" placeholder="Messages" />
                <input type="submit" />
            </form>
        </div>

    </div>
</body>


</html>