<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask_Chat_App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
        integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            socket.emit('my event', {
                data: 'User Connected'
            })
            var form = $('form').on('submit', function (e) {
                e.preventDefault()
                let user_name = $('input.username').val()
                let user_input = $('input.message').val()
                socket.emit('my event', {
                    user_name: user_name,
                    message: user_input
                })
                $('input.message').val('').focus()
            })
        })
        socket.on('my response', function (msg) {
            console.log(msg)
            if (typeof msg.user_name !== 'undefined') {
                $('h3').remove()
                $('div.message_holder').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.message + '</div>')
            }
        })
    </script>
</head>

<body>

    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
        <input type="text" class="username" placeholder="User Name" />
        <input type="text" class="message" placeholder="Messages" />
        <input type="submit" />
    </form>
</body>


</html>