<!DOCTYPE html>
<html lang="en" style="overflow: hidden;background-color: #373737;height:100%;">

<head>
    <title>Flask_Chat_App</title>
    <meta charset="UTF-8">

    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='videoroom_added.js') }}"> </script>
    <style>
        p {
            margin: 0;
            padding: 0;
        }

        .circle {
            width: 100%;
            height: 100%;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
        }

        .video_frame {
            position: relative;
            background-color: #373737;
            display: flex;
            justify-content: center;
            align-content: center;
            border-radius: 25px;
            padding: 1px;
        }

        .name_tag {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #373737;
            border-radius: 20px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            padding: 4px;
            padding-left: 8px;
            padding-right: 8px;
            gap: 9px;
            color: #FFFFFF;
            left: 2%;
            bottom: 1%;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $(".enter_room_button").hover(function () {
                $(".enter_room_button").attr("src", "{{ url_for('static', filename='/images/enter_room_btn_hover.png') }}");
            }, function () {
                $(".enter_room_button").attr("src", "{{ url_for('static', filename='/images/enter_room_btn.png') }}");
            });
        });
    </script>
</head>

<body style="height:100%;">
    <div style="width:100%; height:100%;">
        <div style="width:100%; height:25%;display: flex;justify-content: center;">
            <div style="width:60%; height:100%;display: flex;justify-content: center;align-items:center;">
                <p style=" font-size: 9vmin; font-family:inter; color: white;padding: 1%;font-weight: 900;"><span
                        style="color: #F6BB75">Z</span><span style="color: #F4F675">H</span><span
                        style="color: #75F6F6">F</span> MEET</p>
                <p
                    style=" font-size: 3vmin; font-family:inter; color: white;padding: 1%;font-weight: 900;line-height: 0.83">
                    <span style="color: #F6BB75">Z</span>ERO<br><span style="color: #F4F675">H</span>OME<br><span
                        style="color: #75F6F6">F</span>ISH
                </p>
            </div>
        </div>

        <div style="width:100%; height:70%;display: flex;justify-content: center;">
            <div style="width:70%; height:100%;background-color: #000000;border-radius: 30px;">
                <div style="width:100%; height:12%;display: flex;justify-content: center;">
                    <div style="width:90%; height:100%;display: flex;align-items: center;">
                        <div class="circle" style="width:15px; height:15px; background: #F6BB75;margin: 1%;"></div>
                        <div class="circle" style="width:15px; height:15px; background:#F4F675;margin: 1%;"></div>
                        <div class="circle" style="width:15px; height:15px; background: #75F6F6;margin: 1%;"></div>
                    </div>
                </div>
                <div style="width:100%; height:88%;display: flex;justify-content: space-evenly;align-items: center;">
                    <div class="video_frame" style="width:50%; height:80%; ">
                        <video autoplay="true" id="videoElement" muted
                            style="width:100%; height: 100%; display: flex;justify-content: center;align-content: center;border-radius: 25px;">
                        </video>
                        <div id="video_mask" style="position: absolute; width:100%; height: 100%; background-color: #373737;display: flex; border-radius: 25px; justify-content: center;align-items: center; visibility: hidden;" >
                            <img
                                style="max-height: 50%; max-width: 50%; width: auto;height: auto;"
                                src="../static/images/video_mask.png" />
                        </div>
                        <div id="mic_tag" style="position: absolute; width:10%; height: 10%; top: 1%; right: 0%; visibility: hidden;">
                            <img
                                style="max-height: 100%; max-width: 100%; width: auto;height: auto;"
                                src="../static/images/mic-off.png" />
                        </div>
                        <div class="name_tag">
                            <div class="circle" style="width:15px; height:15px; background-color: #FFC645;margin: 1%;"></div>
                            YOU
                        </div>
                    </div>
                    <div style="width:30%; height:75%;display: flex;flex-direction: column;align-content: center;">
                        <form action="" method="POST">
                            <div style="width:100%; height:15%;display: flex;justify-content: center;">
                                <p
                                    style="font-size: 3vmin;font-family:inter;color: white;text-align:center;font-weight: 900;">
                                    即將加入<br><span style="font-size: 4vmin;color: #FFC645;">{{room_id}}</span></p>
                            </div>


                            <div style="width:100%; height:15%;display: flex;justify-content: center;margin-top: 10%;">

                                <input
                                    style="width:60%;height:80%;border-radius: 10px;font-size: 20px;font-family:inter;background-color:#D9D9D9;color: #5C5C5C;text-align:center;font-weight: 700;"
                                    type="text" name="username" class="username" placeholder="你的暱稱" autofocus
                                    required />

                            </div>


                            <div
                                style="height:20%;display: flex;justify-content: center;align-items: center;margin-top:5%">
                                <div
                                    style="width:35%; height:80%;display: flex;flex-direction: column;align-items: center;">
                                    <img id="mic_mute"
                                        style="max-height: 100%;  max-width: 100%; width: auto;height: auto;display: flex;cursor: pointer;"
                                        src="../static/images/mic-on.png" />
                                    <p
                                        style="font-size: 3vmin;;font-family:inter;color: white;text-align:center;font-weight: 700;margin-right:5%;">
                                        麥克風</p>
                                </div>
                                <div
                                    style="width:35%; height:80%;display: flex;flex-direction: column;align-items: center;">
                                    <img id="camera_mute"
                                        style="max-height: 100%;  max-width: 100%; width: auto;height: auto;cursor: pointer;"
                                        src="../static/images/camera-on.png" />
                                    <p
                                        style="font-size: 3vmin;font-family:inter;color: white;text-align:center;font-weight: 700;margin-right:5%;">
                                        鏡頭 </p>
                                </div>
                            </div>
                            <div style="width:100%; height:12%;display: flex;justify-content: center; margin-top: 15%;">
                                <button
                                    style="width:70%; height:100%;border: 0;background-color: #000000;"
                                    type='submit'>
                                    <img src="{{ url_for('static', filename='/images/enter_room_btn.png') }}" alt="ENTER ROOM"
                                    class="enter_room_button" style="width:100%; height:100%; cursor: pointer;" />
                                </button>
                            </div>
                            <input type="hidden" value="1" name="audio_enabled" id="audio_enabled_inp">
                            <input type="hidden" value="1" name="video_enabled" id="video_enabled_inp">
                            <input type="hidden" value="0" name="share_inp">
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>